profiles {

    standard {

        docker {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"'

        }

    }

    docker {

        docker {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    podman {

        podman {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    singularity {

        singularity {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-B "$TMPDIR"'

            autoMounts              = true

        }
    
    }

}

process {

    executor                        = "slurm"

    clusterOptions                  = "-A ucgd-rw --partition ucgd-rw -N 1 --qos ucgd-prod-rw"

    queueSize                       = 20
        
    errorStrategy                   = "ignore"

    withLabel: blast {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/blast/blast.sif"

    }

    withLabel: canu {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/canu/canu.sif"

    }

    withLabel: filtlong {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/filtlong/filtlong.sif"

    }

    withLabel: flye {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/flye/flye.sif"

    }

    withLabel: local {

        executor                    = "local"

        container                   = ""

    }

    withLabel: medaka {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/medaka/medaka.sif"

        // The following clusterOptions enable GPU for Medaka
        // Not really necessary and there's always someone submitting way too many jobs to gpu nodes
        //clusterOptions              = "-A ucgd-gpu-rw --partition ucgd-gpu-rw --gpus-per-node a100:1 --mem-per-gpu 80G -N 1"

    }

    withLabel: minimap2 {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/minimap2/minimap2.sif"

    }

    withLabel: plannotate {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/plannotate/plannotate.sif"

    }

    withLabel: python {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/python/python.sif"

    }

    withLabel: samtools {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/samtools/samtools.sif"

    }

    withLabel: trycycler {

        container                   = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/trycycler/trycycler.sif"

    }

}

params {
    
    // Main paths

    sample_manifest_path             = "/path/to/sample/manifest.tsv"

    main_output_dir                  = "assembly_results"

    concatenated_fastq_dir           = "concatenated_fastq"

    canu_output_dir                  = "canu_assembly"

    flye_output_dir                  = "flye_assembly"

    deconcatenated_output_dir        = "deconcatenated_assembly"

    trycycler_output_dir             = "trycycler"

    consensus_output_dir             = "consensus_assembly"

    annotated_assembly_dir           = "annotated_assembly"

    blastn_output_dir                = "blast_alignment"

    kmer_alignment_output_dir        = "kmer_alignment"

    minimap2_alignment_dir           = "minimap2_alignment"

    alignment_based_assembly_dir     = "alignment_based_assembly"

    ab1_output_dir                   = "ab1"

    // Additional parameters for Filtlong

    filtlong_parameters              = "--min_length 1000 --keep_percent 95"

    // Additional parameters for fastq subsampling

    subsampling_parameters           = "--count 12"

    // Assembler choice (canu or flye)

    assembler                        = "flye"

    // Additional parameters for Canu and Flye

    canu_parameters                  = ""

    flye_parameters                  = ""

    flye_input_type                  = "--nano-hq"

    // Additional parameters for Trycycler

    trycycler_cluster_params         = ""

    trycycler_reconcile_params       = "--max_trim_seq 2000 --max_trim_seq_percent 20 --max_add_seq 2000 --max_add_seq_percent 10"

    trycycler_msa_params             = ""

    trycycler_partition_params       = ""

    trycycler_consensus_params       = ""

    // Additional parameters for Medaka

    medaka_consensus_params          = ""

    // Additional parameters for Minimap2

    minimap2_params                  = ""

}
